.div-habilidades {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.div-habilidades h3 {
  font-size: 55px;
}

.div-text-habilidades {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 10px;
}

.div-icons-habilidades {
  display: flex;
  flex-direction: column;
  width: 815px;
}

.div-icon1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  background: linear-gradient(90deg, rgba(44,44,44,0.020) 50%, rgba(29,29,29,1) 50%);
  border-radius: 0 20px 20px 0;
}

.div-icon2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  margin: 10px 0;
  background: linear-gradient(90deg, rgba(29,29,29,1) 50%, rgba(44, 44, 44, 0.020) 50%);
  border-radius: 20px 0 0 20px;
}

.icons-habilidades {
  color: var(--white);
  padding: 10px;
  width: 400px;
  height: 100px;
}

.back-top-h {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  margin: 50px auto;
}

.back-top-h h1 {
  width: 200px;
  font-size: 35px;
  text-align: center;
}
