.div-habilidades {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.div-text-habilidades {
  max-width: 450px;
  min-width: 300px;
}

.div-icons-habilidades {
  max-width: 450px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.div-icons {
  width: 150px;
  text-align: center;
}

.icons-habilidades {
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  height: 100px;
}
