.div-projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
}

.head-projetos {
  text-align: center;
  margin-bottom: 50px;
}

.head-projetos h1 {
  font-weight: 900;
}

.head-projetos p {
  font-weight: 200;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 30px;
}

.details-projeto {
  background-color: var(--grey-strong);
  color: var(--white);
  box-shadow: -5px 10px 10px rgb(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  margin: 5px;
  max-width: 400px;
  min-height: 500px;
  max-height: 600px;
}

.details-projeto h2 {
  font-weight: 500;
  font-size: 1.7em;
}

.details-projeto p {
  font-weight: 200;
  font-size: 1.1em;
  margin: 10px;
}

.link-site {
  color: var(--white);
  position: absolute;
  text-decoration: none;
  font-weight: 200;
  background-color: rgba(44, 44, 44, 0.7);
  backdrop-filter: blur(2px);
  width: 300px;
  padding-top: 65px;
  padding-bottom: 68px;
  opacity: 0;
}

.link-site:hover {
  color: var(--white);
  transition: 400ms;
  opacity: 1;
}

.github-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 200;
  color: var(--white);
  background-color: var(--grey-light);
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  margin: 10px auto;
}

.github-link:hover {
  background-color: var(--yellow);
  color: var(--grey-light);
  transition: 400ms;
}

.github-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.img-projetos {
  width: 300px;
}

.left-raio-projetos {
  position: absolute;
  width: 60px;
  left: 0;
  bottom: -800px;
}

.back-top {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 40px;
}

.back-top h1 {
  width: 200px;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
}