footer {
  border-radius: 20px;
  background-color: #272727;
  text-align: center;
  bottom: 0;
  width: 98%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px -3px 10px black;
}

footer h2{
  margin-top: 10px;
}

#copy {
  color: #7e7e7e;
  font-size: 14px;
  margin-top: 20px;
}

.icons-footer {
  width: 25px;
  height: 25px;
}

.itens-contatos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.contatos-footer {
  color: white;
}