.header {
  background: none;
  box-shadow: none;
}

.div-logo {
  display: flex;
  align-items: center;
}

.div-logo p {
  margin: 0;
}

#logo {
  width: 42px;
  margin-right: 3px;
  filter: drop-shadow(2px 2px 15px #000000);
}

.links {
  display: flex;
  align-items: center;
}

.hamburguer {
  cursor: pointer;
  display: none;
}

.menuOpen {
  z-index: 8001;
  display: block;
  position: absolute;
  top: 80px;
  right: 0;
  background-color: rgb(44, 44, 44, 0.8);
  backdrop-filter: blur(2px);
  border-radius: 0 0 30px 30px;
  padding: 40px 30px;
  box-shadow: -5px 10px 10px rgb(0, 0, 0, 0.5);
}

.menuClose {
  display: block;
}

.listItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.line {
  border-left: 1px solid var(--back-light);
  height: 40px;
  margin-right: 20px;
}

.line-light {
  border-left: 1px solid var(--grey-light);
  height: 40px;
  margin-right: 20px;
}

.links-light {
  color: var(--grey-strong);
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.switch-text {
  padding-right: 0.3rem;
  font-size: 1.1rem;
}

.switch-wrapper {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}

.switch-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  /* background-color: #475569; */
  background-image: url(https://images2.imgbox.com/22/9f/QiF8EKTT_o.jpg);
}

.switch-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-button::before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  transition: .4s all ease;
  background-color: var(--white);
}

.switch-wrapper input:checked + .switch-button {
  /* background-color: #b8b8b8; */
  background-image: url(https://images2.imgbox.com/02/08/tehUFuPE_o.jpg);
}

.switch-wrapper input:checked + .switch-button::before {
  transform: translateX(26px);
}