.div-page404 {
  background-color: var(--back-light);
  color: var(--grey-light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 620px;
}

.div-page404 h2 {
  font-size: 60px;
}

.div-page404 h3 {
  font-size: 30px;
}

.div-page404 p, h2, h3 {
  margin: 5px;
}