* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1D1D1D;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #a19f00;
}

header {
  background-color: #2C2C2C;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 200px;
}

.div-icons-redes {
  margin-left: 94px;
}

.icons-redes {
  width:50px;
}

.icons-redes:hover {
  background-color: #FFB300;
  border-radius: 50%;
  transition: 400ms;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px 0 20px;
}

nav a:hover {
  color: #FFB300;
  transition: 400ms;
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 620px;
}

.text-sobre {
  width: 400px;
  margin-left: 10px;
}

#cartoon {
  max-width: 500px;
  margin-right: 10px;
}

#cartoon:hover {
  max-width: 550px;
  transition: 400ms;
}

.div-habilidades {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 620px;
}

.icons-habilidades {
  width: 150px;
  margin: 5px;
}

.div-icons-habilidades {
  margin-right: 10px;
  width: 500px;
}

.div-text-habilidades {
  width: 400px;
  margin-left: 10px;
}

.div-projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-text-projetos {
  width: 650px;
  text-align: center;
  margin: 40px 0 20px 0;
}

.div-img-projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projetos {
  width: 650px;
  margin: 20px;
}

.projetos:hover {
  width: 700px;
  transition: 400ms;
}

.label-projetos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.links-projetos {
  background-color: #626262;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 2px 12px;
  margin-left: 10px;
}

.links-projetos:hover {
  background-color: #FFB300;
  border-radius: 5px;
  transition: 400ms;
}

.div-page404 {
  background-color: #dcdcdc;
  color: #2C2C2C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 620px;
}

.div-page404 h2 {
  font-size: 60px;
}

.div-page404 h3 {
  font-size: 30px;
}

.div-page404 p, h2, h3 {
  margin: 5px;
}

footer {
  background-color: #2C2C2C;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer h2{
  margin-top: 20px;
}

#copy {
  color: #7e7e7e;
  font-size: 14px;
  margin-top: 20px;
}