* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1D1D1D;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #a19f00;
}

header {
  background-color: #2C2C2C;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 200px;
}

.icons-redes {
  width:50px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px 0 20px;
}

nav a:hover {
  color: #FFB300;
  transition: 400ms;
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 620px;
}

.text-sobre {
  width: 400px;
  margin-left: 10px;
}

#cartoon {
  max-width: 500px;
  margin-right: 10px;
}

#cartoon:hover {
  max-width: 550px;
  transition: 400ms;
}

footer {
  background-color: #2C2C2C;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer h2{
  margin-top: 20px;
}

#copy {
  color: #7e7e7e;
  font-size: 14px;
  margin-top: 20px;
}