* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1D1D1D;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
}

p {
  font-size: 19px;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #2C2C2C;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 3px 10px black;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px 0 20px;
}

nav a:hover {
  color: #FFB300;
  transition: 400ms;
}

::selection {
  background-color: #a19f00;
}

.light {
  background-color: #dcdcdc;
  color: #1D1D1D;
}

.dark {
  background-color: #1D1D1D;
  color: white;
}

.links-and-dark-mode {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 920px) {
  .sobre {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    height: 180vh;
  }

  .switch-text {
    display: none;
  }

  .hamburguer {
    display: block;
    width: 50px;
    margin-right: 20px;
  }

  .listItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .listItems a {
    margin: 10px 0;
    background-color: #1D1D1D;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
  }
  
  .menuClose {
    display: none;
  }

  .div-contato .div-icons-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .sobre .div-icons-redes {
    margin-right: 27px;
  }

  .sobre .div-icons-redes .button-copy {
    padding: 15px 104px;
  }

  .button-copy {
    padding: 18px 130px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .icons-habilidades {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 690px) {
  .div-icons-redes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 3px;
  }

  .sobre {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    height: 160vh;
  }

  #logo {
    margin-right: 60px;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  nav a {
    margin: 10px;
  }

  .div-habilidades {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 120vh;
  }

  .div-icons-habilidades {
    margin: auto;
  }

  .div-text-projetos {
    width: 400px;
  }

  .projetos {
    width: 400px;
  }

  .projetos:hover {
    width: 500px;
  }

  .descrição-projetos{
    width: 400px;
  }

  .div-logo h3 {
    display: none;
  }

  .div-logo p {
    display: none;
  }

  .comentario {
    width: 400px;
    height: 209px;
  }

  .comentario h2 {
    margin-top: 85px;
  }
}

@media only screen and (max-width: 530px) {
  #cartoon {
    width: 320px;
  }

  #cartoon:hover {
    max-width: 350px;
    transition: 400ms;
  }

  #logo {
    margin-right: 30px;
  }

  .text-sobre {
    width: 320px;
  }

  .div-habilidades {
    height: 120vh;
  }

  .div-text-habilidades {
    width: 320px;
  }

  .div-icons-habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 320px;
  }

  .icons-habilidades {
    width: 60px;
    height: 60px;
  }

  .div-text-projetos {
    width: 300px;
  }

  .projetos {
    width: 300px;
  }

  .projetos:hover {
    width: 350px;
  }

  .descrição-projetos{
    width: 300px;
  }

  .titulo-projetos {
    text-align: center;
  }

  .div-icons-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .sobre .div-icons-redes {
    margin-right: 27px;
  }

  .sobre .div-icons-redes .button-copy {
    padding: 15px 140px;
  }

  .comentario {
    width: 300px;
    height: 157px;
  }

  .comentario h2 {
    margin-top: 60px;
  }

  .button-copy {
    padding: 17px 130px;
    margin-bottom: 10px;
  }
}